/* line 13, ../scss/index.scss */
nav {
  opacity: 0.95;
}

/* line 17, ../scss/index.scss */
body {
  background-color: #444444;
}

/* line 21, ../scss/index.scss */
.screen-cover {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 2000px) {
  /* line 28, ../scss/index.scss */
  .modal-lg-custom {
    max-width: 1200px;
    width: auto;
  }
}
/* line 35, ../scss/index.scss */
.portfolio-container .portfolio-item {
  padding: 0;
  height: 250px;
  background-color: #ddd;
  background-size: cover;
}
/* line 41, ../scss/index.scss */
.portfolio-container .portfolio-text {
  background-color: #fff;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  font-size: 1.1em;
  cursor: pointer;
}
/* line 49, ../scss/index.scss */
.portfolio-container .portfolio-text:hover, .portfolio-container .portfolio-text.active {
  opacity: 0.8;
  font-size: 1em;
}

/* line 57, ../scss/index.scss */
.carousel-caption--add-shadow-to-items * {
  text-shadow: 0px 0px 10px black;
}

/* line 62, ../scss/index.scss */
.bordered-top {
  border-top: 1px solid #dddddd;
}

/* line 66, ../scss/index.scss */
.bordered-bottom {
  border-bottom: 1px solid #dddddd;
}

/* line 70, ../scss/index.scss */
.about {
  background-color: #333333;
  color: #dddddd;
  min-height: 400px;
  position: relative;
}
/* line 77, ../scss/index.scss */
.about .about__contact .about__contact__item i {
  margin: 5px;
}
/* line 82, ../scss/index.scss */
.about .about__text {
  height: 400px;
}
/* line 84, ../scss/index.scss */
.about .about__text .about__text__name {
  margin-bottom: 10px;
  font-size: 1.3em;
}
/* line 89, ../scss/index.scss */
.about .about__image {
  height: 400px;
}
/* line 91, ../scss/index.scss */
.about .about__image * {
  border: 1px solid #dddddd;
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
}

/* line 102, ../scss/index.scss */
.footer {
  color: #dddddd;
  padding: 10px;
}

/* line 107, ../scss/index.scss */
.navbar-brand {
  cursor: default;
}

/* line 111, ../scss/index.scss */
.nav-item {
  cursor: pointer;
}
/* line 113, ../scss/index.scss */
.nav-item.active {
  border-bottom: 1px solid #dddddd;
}

/* line 118, ../scss/index.scss */
body.modal-open {
  margin-right: 0 !important;
  padding-right: 17px !important;
}

/* line 123, ../scss/index.scss */
.modal-content {
  background-color: #333333;
  color: #dddddd !important;
  position: relative;
}

/* line 129, ../scss/index.scss */
.modal-header > .close {
  color: #dddddd;
}

/* line 133, ../scss/index.scss */
.modal-images-list {
  overflow-y: hidden;
  width: 100%;
}
/* line 136, ../scss/index.scss */
.modal-images-list .modal-image {
  margin: 3px 6px;
  min-width: 150px;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s;
}
/* line 145, ../scss/index.scss */
.modal-images-list .modal-image:not(.active):hover {
  margin: 0px 3px;
  width: 156px;
  height: 156px;
}
/* line 150, ../scss/index.scss */
.modal-images-list .modal-image.active {
  margin: -2px 1px;
  width: 160px;
  height: 160px;
}

/* line 158, ../scss/index.scss */
.modal-showcase-image {
  width: 100%;
  padding-top: 66.64%;
  position: relative;
}
/* line 162, ../scss/index.scss */
.modal-showcase-image div {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
}

/* line 174, ../scss/index.scss */
.divider-horizontal {
  margin: 10px 20%;
  border-bottom: 1px solid #dddddd;
}

/* line 179, ../scss/index.scss */
.divider-horizondal--middle-size {
  width: 60%;
}
