nav {
  opacity: 0.95; }

body {
  background-color: #444; }

.screen-cover {
  object-fit: cover;
  width: 100vw;
  height: 100vh; }

@media (min-width: 2000px) {
  .modal-lg-custom {
    max-width: 1200px;
    width: auto; }
  .container {
    width: 1600px;
    max-width: 100%; } }

.portfolio-container .portfolio-item {
  padding: 0;
  height: 250px;
  background-color: #ddd;
  background-size: cover; }

.portfolio-container .portfolio-text {
  background-color: #fff;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  font-size: 1.1em;
  cursor: pointer; }
  .portfolio-container .portfolio-text:hover, .portfolio-container .portfolio-text.active {
    opacity: 0.8;
    font-size: 1em; }

.carousel-caption--add-shadow-to-items * {
  text-shadow: 0px 0px 10px black; }

.bordered-top {
  border-top: 1px solid #ddd; }

.bordered-bottom {
  border-bottom: 1px solid #ddd; }

.about {
  background-color: #333;
  color: #ddd;
  min-height: 400px;
  position: relative; }
  .about .about__contact .about__contact__item i {
    margin: 5px; }
  .about .about__text {
    height: 400px; }
    .about .about__text .about__text__name {
      margin-bottom: 10px;
      font-size: 1.3em; }
  .about .about__image {
    height: 400px; }
    .about .about__image * {
      border: 1px solid #ddd;
      height: 250px;
      width: 250px;
      background-size: cover;
      border-radius: 50%;
      background-position: center; }

.footer {
  color: #ddd;
  padding: 10px; }

.navbar-brand {
  cursor: default; }

.nav-item {
  cursor: pointer; }
  .nav-item.active {
    border-bottom: 1px solid #ddd; }

body.modal-open {
  margin-right: 0 !important;
  padding-right: 17px !important; }

.modal-content {
  background-color: #333;
  color: #ddd !important;
  position: relative; }

.modal-header > .close {
  color: #ddd; }

.modal-images-list {
  overflow-y: hidden;
  width: 100%; }
  .modal-images-list .modal-image {
    margin: 3px 6px;
    min-width: 150px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s; }
    .modal-images-list .modal-image:not(.active):hover {
      margin: 0px 3px;
      width: 156px;
      height: 156px; }
    .modal-images-list .modal-image.active {
      margin: -2px 1px;
      width: 160px;
      height: 160px; }

.modal-showcase-image {
  width: 100%;
  padding-top: 66.64%;
  position: relative; }
  .modal-showcase-image div {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center; }

.divider-horizontal {
  margin: 10px 20%;
  border-bottom: 1px solid #ddd; }

.divider-horizondal--middle-size {
  width: 60%; }
