/* line 11, ../scss/index.scss */
nav {
  opacity: 0.45;
}

/* line 15, ../scss/index.scss */
body {
  background-color: #888;
}

/* line 19, ../scss/index.scss */
.cover {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

/* line 25, ../scss/index.scss */
.portfolio-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 31, ../scss/index.scss */
.portfolio-container .portfolio-item {
  display: inline-block;
  padding: 0;
  height: 250px;
  background-color: #ddd;
}
/* line 37, ../scss/index.scss */
.portfolio-container .portfolio-text {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  cursor: default;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  font-size: 1.1em;
  cursor: pointer;
}
/* line 51, ../scss/index.scss */
.portfolio-container .portfolio-text:hover {
  opacity: 1;
  font-size: 1em;
}

/* line 58, ../scss/index.scss */
.about {
  text-align: justify;
  background-color: #666;
  color: #ddd;
  min-height: 400px;
  position: relative;
}
/* line 64, ../scss/index.scss */
.about .about__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 70, ../scss/index.scss */
.about .about__contact .contact__item {
  display: flex;
  align-items: center;
  text-align: left;
}
/* line 74, ../scss/index.scss */
.about .about__contact .contact__item i {
  margin: 5px;
}
/* line 79, ../scss/index.scss */
.about .about__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
/* line 84, ../scss/index.scss */
.about .about__text .about__text__name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3em;
}
/* line 90, ../scss/index.scss */
.about .about__image {
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 96, ../scss/index.scss */
.about .about__image div {
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 50%;
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4d/b7/b7/4db7b7ecb39c4eebc5b8f5358773e4a2.jpg");
  background-position: center;
}

/* line 107, ../scss/index.scss */
.footer {
  border-top: 1px solid #ddd;
  height: 50px;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
}

/* line 117, ../scss/index.scss */
.navbar-brand {
  cursor: default;
}

/* line 121, ../scss/index.scss */
.nav-item {
  cursor: pointer;
}
/* line 123, ../scss/index.scss */
.nav-item.active {
  border-bottom: 1px solid blue;
}
