$color: black;
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

nav {
    opacity: 0.75;
}

body {
    background-color: #888;
}

.cover {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.portfolio-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & .portfolio-item {
        display: inline-block; // width: 25%;
        padding: 0;
        height: 250px;
        background-color: #ddd;
        background-size: cover;
    }
    & .portfolio-text {
        background-color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        cursor: default;
        @include transition(all 0.3s);
        opacity: 0;
        font-size: 1.1em;
        cursor: pointer;
        &:hover,
        &.active {
            opacity: 0.8;
            font-size: 1em;
        }
    }
}

.carousel-caption--add-shadow-to-items {
    & * {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    }
}

.about {
    text-align: justify;
    background-color: #666;
    color: #ddd;
    min-height: 400px;
    position: relative;
    & .about__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        & .contact__item {
            display: flex;
            align-items: center;
            text-align: left;
            & i {
                margin: 5px;
            }
        }
    }
    & .about__text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        & .about__text__name {
            text-align: center;
            margin-bottom: 10px;
            font-size: 1.3em;
        }
    }
    & .about__image {
        height: 400px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        & div {
            height: 250px;
            width: 250px;
            background-size: cover;
            border-radius: 50%;
            background-position: center;
        }
    }
}

.footer {
    border-top: 1px solid #ddd;
    height: 50px;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}

.navbar-brand {
    cursor: default;
}

.nav-item {
    cursor: pointer;
    &.active {
        border-bottom: 1px solid $color;
    }
}

.modal-lg-custom {
    max-width: 80%;
}

body.modal-open {
    margin-right: 0 !important;
    padding-right: 17px !important;
}

.modal-content {
    background-color: #666;
    color: white !important;
}

.modal-images-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & .modal-image {
        margin: 3px 6px;
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            margin: 0px 3px;
            width: 156px;
            height: 156px;
        }
        &.active {
            margin: -2px 1px;
            width: 160px;
            height: 160px;
        }
    }
}

.modal-showcase-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.divider-horizontal {
    width: 60%;
    margin: 10px 20%;
    border-bottom: 1px solid #ddd;
}