$text: #ddd;
$border: #ddd;
$background1: #333;
$background2: #444;
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

nav {
    opacity: 0.95;
}

body {
    background-color: $background2;
}

.screen-cover {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container-fluid--no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.portfolio-container {
    & .portfolio-item {
        padding: 0;
        height: 380px;
        max-width: 380px;
        border:1px solid $background1;
        // background-color: #ddd;
        background-size: cover;
        background-position: center;
    }
    & .portfolio-text {
        background-color: #fff;
        height: 100%;
        @include transition(all 0.3s);
        opacity: 0;
        font-size: 1.1em;
        cursor: pointer;
        &:hover,
        &.active {
            opacity: 0.8;
            font-size: 1em;
        }
    }
}

.carousel-caption--add-shadow-to-items {
    & * {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    }
}

.bordered-top {
    border-top: 1px solid $border;
}

.bordered-bottom {
    border-bottom: 1px solid $border;
}

.about {
    background-color: $background1;
    color: $text;
    min-height: 400px;
    position: relative;
    & .about__contact {
        & .about__contact__item {
            & i {
                margin: 5px;
            }
        }
    }
    & .about__text {
        height: 400px;
        & .about__text__name {
            margin-bottom: 10px;
            font-size: 1.3em;
        }
    }
    & .about__image {
        height: 400px;
        & * {
            border: 1px solid $border;
            height: 250px;
            width: 250px;
            background-size: cover;
            border-radius: 50%;
            background-position: center;
        }
    }
}

.footer {
    color: $text;
    padding: 10px;
}

.navbar-brand {
    cursor: default;
}

.nav-item {
    cursor: pointer;
    &.active {
        border-bottom: 1px solid $text;
    }
}

body.modal-open {
    margin-right: 0 !important;
    padding-right: 17px !important;
}

.modal-content {
    background-color: $background1;
    color: $text !important;
    position: relative;
}

.modal-header>.close {
    color: $text;
}

.modal-images-list {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    & .modal-image {
        margin: 3px 6px;
        min-width: 150px;
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: all 0.3s;
        display: inline-block;
        &:not(.active):hover {
            margin: 0px 3px;
            width: 156px;
            height: 156px;
        }
        &.active {
            margin: -2px 1px;
            width: 160px;
            height: 160px;
        }
    }
    & .modal-image-placeholder {
        display: inline-block;
        width: 160px;
        height: 160px;
        background-image: url("https://drive.google.com/uc?id=0BxZhCmRG6LCwYm1hOWZLanJ1RTg");
        background-position: center;
        background-size: 110px 80px;
        background-repeat: no-repeat
    }
}

.modal-showcase-image {
    width: 100%;
    padding-top: 66.64%;
    position: relative;
    & div {
        background-size: contain;
        background-repeat: no-repeat;
        width: 95%;
        position: absolute;
        height: 95%;
        margin: 2.5%;
        top: 0;
        left: 0;
        background-position: center;
    }
}

.divider-horizontal {
    margin: 10px 20%;
    border-bottom: 1px solid $border;
}

.divider-horizondal--middle-size {
    width: 60%;
}

@media(min-width: 768px) {
    .modal-lg-custom {
        max-width: 730px !important;
        width: auto !important;
    }
    .modal-images-list{
        border-left: 1px solid $border;
    }
}

@media(min-width: 990px) {
    .modal-lg-custom {
        max-width: 900px !important;
        width: auto !important;
    }
}

@media(min-width: 2000px) {
    .modal-lg-custom {
        max-width: 1300px !important;
        width: auto !important;
    }
    .container{
        width: 1600px;
        max-width: 100%;
    }
}