<div class="custom-modal">
  <div class="center-content-vertically">
    <span class="close" ng-click="$ctrl.active = false">&times;</span>
    <div class="modal-content">
      <div class="item-details">
        <div class="zoom-overlay-container">
          <img ng-src="{{ $ctrl.item.portfolioItemImage }}">
          <div class="zoom-overlay" ng-if="::$ctrl.item.portfolioItemImageHQ">
            <a href="/" ng-href="{{ ::$ctrl.item.portfolioItemImageHQ }}" target="_blank"
               ng-class="{ disabled: !$ctrl.item.portfolioItemImageHQ }">
              <div class="zoom-overlay-content">
                <i class="fa fa-search align-middle"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="caption-container">
        {{::$ctrl.item.name}}
      </div>
    </div>
  </div>
</div>
