$light-text: #f1f1f1;
$dark-background: #191919;
nav {
    opacity: 0.95;
    background-color: $dark-background;
}

body {
    background-color: #000;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.screen-cover {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container-fluid--no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.portfolio-container {
    background-color: black;
    .portfolio-item {
        height: 25vw;
        width: 25%;
        display: inline-block;
        background-size: cover;
        background-position: center;
        padding: 0;
    }
    .portfolio-text {
        background-color: #fff;
        height: 100%; // width: 100%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
        font-size: 1.1em;
        cursor: pointer;
    }
    .portfolio-text:hover,
    .portfolio-text.active {
        opacity: 0.8;
        font-size: 1em;
    }
    @media (max-width: 990px) {
        .portfolio-item {
            height: 50vw;
            width: 50%;
        }
    }
    @media (max-width: 767px) {
        .portfolio-item {
            height: 100vw;
            width: 100%;
        }
    }
}

.carousel-caption--add-shadow-to-items * {
    text-shadow: 0px 0px 10px black;
}

.bordered-top {
    border-top: 1px solid $light-text;
}

.bordered-bottom {
    border-bottom: 1px solid $light-text;
}

.about {
    // background-color: #333;
    // color: $light-text;
    color: $light-text;
    background-color: $dark-background;
    min-height: 400px;
    position: relative;
    background-image: url('../img/about_tlo.jpg');
    background-size: cover;
    // background-size: initial;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position-y: center;
    background-position-x: right;
    .about__contact .about__contact__item i {
        margin: 5px;
    }
    .about__text {
        height: 400px;
    }
    .about__text .about__text__name {
        margin-bottom: 10px;
        font-size: 1.3em;
    }
    .about__image {
        height: 400px;
    }
    .about__image * {
        // border: 1px solid $light-text;
        height: 250px;
        width: 250px;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
    }
}

.footer {
    color: $light-text;
    padding: 10px;
}

.navbar-brand {
    cursor: default;
}

.nav-item {
    cursor: pointer;
}

.nav-item.active {
    border-bottom: 1px solid $light-text;
}

.divider-horizontal {
    margin: 10px 20%;
    border-bottom: 1px solid $light-text;
}

.divider-horizondal--middle-size {
    width: 60%;
}

.sample-show-hide {
    transition: all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity: 0;
}

.custom-modal {
    display: block;
    position: fixed;
    z-index: 9999; // padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    .center-content-vertically {
        display: flex;
        align-items: center;
        height: 100vh;
    }
    .modal-content {
        position: relative;
        background-color: black;
        margin: 30px auto;
        padding: 0;
        text-align: center;
        width: calc(100vw - 100px);
    }
    @media (min-width: 1500px) {
        .modal-content {
            width: 1400px;
        }
    }
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
    }
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        &.disabled {
            cursor: default;
            opacity: 0.2;
        }
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .slide {
        img {
            max-height: calc(100vh - 120px - 60px - 30px - 34px);
            max-width: 1210px;
        }
        a {
            &.disabled {
                pointer-events: none;
                cursor: default;
            }
        }
        .zoom-overlay-container {
            position: relative;
            display: inline-block;
            .zoom-overlay {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                .zoom-overlay-content {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 50px;
                    width: 0;
                    font-size: 20px;
                    transition: .2s ease;
                    background-color: #fff;
                    opacity: 0.7;
                    display: flex;
                    align-items: center;
                    color: black;
                    z-index: -1;
                    i {
                        display: none;
                        padding: 15px;
                    }
                }
                @media (max-width: 700px) {
                    .zoom-overlay-content {
                        i {
                            display: initial;
                        }
                        width: 50px;
                        z-index: 9999;
                    }
                }
                &:hover {
                    .zoom-overlay-content {
                        i {
                            display: initial;
                        }
                        width: 50px;
                        z-index: 9999;
                    }
                }
            }
        }
    }
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
    .thumbnail-list {
        img {
            height: 100px;
            width: 100px;
            opacity: 0.6;
            object-fit: cover;
            cursor: pointer;
        }
        .active,
        img:hover {
            opacity: 1;
        }
        .slick-disabled {
            cursor: default;
        }
    }
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
    }
}